<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form method="POST" action="/team">
     <input type="text" name="team_name" id="team_name">
     <input type="text" name="coach" id="coach">
     <input type="text" name="point_guard" id="point_guard">
     <input type="text" name="shooting_guard" id="shooting_guard">
     <input type="text" name="small_forward" id="small_forward">
     <input type="text" name="power_forward" id="power_forward">
     <input type="text" name="center" id="center">

     <input type="submit" id="Submit">
   </form>
 </body>
</html>
